/* ==========================================================================
   Custom styles
   ========================================================================== */

.jumbotron {
    background: url(/img/low_contrast_linen.png) repeat 0 0;
}

/*Disabled elements on main page*/
div.list-group-item{
    color:lightsteelblue;
}

.panel-primary {
    border: none;
}

/* Hide spinner on number inputs */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Move modal into center of screen */
.modal {
    top: 20%;
}

/*Ensure that Google maps widget is being shown correctly*/
#map-canvas {
    width:100%;
    height:500px;
}

.percent-input {
    width: 100px;
    display:inline;
}

.top-buffer { margin-top:20px; }

/*Ensure that numbers are visible in disabled text inputs*/
.form-control {
    color: #000000;
}











