/* ==========================================================================
   Custom styles
   ========================================================================== */

.jumbotron {
    background: url(/img/ricepaper2.png) repeat 0 0;
}

body {
    /*background: url(/img/binding_dark.png) repeat 0 0;*/
}

.panel-primary {
    border: none;
}

/* Hide spinner on number inputs */
form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Move modal into center of screen */
.modal {
    top: 20%;
}

/*Ensure that maps widget is being shown correctly*/
#map-canvas {
    width:100%;
    height:500px;
}

/*Disabled elements on main page*/
div.list-group-item{
    color:lightsteelblue;
}

.percent-input {
    width: 100px;
    display:inline;
}

.top-buffer { margin-top:20px; }











